---
import { getCollection } from "astro:content";
import Layout from "../layouts/default.astro";
import PostItem from '../components/post-item.astro'

const posts = await getCollection("blog");
---

<Layout title="Wenwei">
	<section class="headline">
		<h2>最近更新</h2>
		<p>记录技术与生活</p>
	</section>

	<div class="gray-line"></div>

	<section class="posts">
		{posts.map(post => {
			return (
				<PostItem title={post.data.title} description={post.data.description} date={post.data.date} slug={post.slug} tags={post.data.tags} /> 
			)
		})}
	</section>
</Layout>

<style>
	.headline h2 {
		margin: 0;
		padding: 0;
		font-size: 2rem;
	}

	.headline p {
		margin-top: 0.5rem;
		padding: 0;
		font-size: 1.1rem;
		color: var(--gray-500);
	}

	.gray-line {
		margin-top: 2rem;
	}

	.posts {
		display: flex;
		flex-flow: column wrap;
		gap: 2rem;
	}

	@media(min-width: 768px) {
		.headline h2 {
			font-size: 3.75rem;
		}
	}
</style>
