---
import { formatDate } from '@/utils/string';
import Ellipsis from '@/components/common/ellipsis';

const { post, displayReadingMore } = Astro.props;
---

<section class="xl:grid xl:grid-cols-4 xl:flex-nowrap xl:gap-32">
  <dl>
    <dt class="sr-only">Published on</dt>
    <dd class="text-gray-500 font-medium tracking-wider text-lg">
      <time datetime={post.data.date}>{formatDate(post.data.createdAt)}</time>
    </dd>
  </dl>
  <article class="mt-2 xl:mt-0 xl:col-span-3">
    <h3 class="font-bold text-2xl">
      <a href={`/posts/${post.id}`}><Ellipsis text={post.data.title} /></a>
    </h3>
    <ul class="flex flex-row flex-wrap gap-4">
      {
        post.data.tags.map((tag: string) => (
          <li>
            <a
              href={`/tags/${tag}`}
              class="text-teal-500 font-medium hover:text-teal-600"
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mt-4 text-gray-500">
      {post.data.description}
    </p>
    {
      displayReadingMore && (
        <a
          href={`/posts/${post.id}`}
          class="block mt-6 text-teal-500 font-medium hover:text-teal-600"
        >
          阅读全文 &rarr;
        </a>
      )
    }
  </article>
</section>
